<div class="col">
    <div class="card h-100 hoverable">
      
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        {% if project.key_findings %}
        <div class="card-text">Experimental Findings: </div>
        <ul>
          {% for feature in project.key_findings %}
            <li class="card-text">{{ feature }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if project.models %}
        <p class="card-text">Models: {{ project.models }}</p>
      {% endif %}
      {% if project.other %}
        <p class="card-text">Frameworks/Libraries: {{ project.other }}</p>
      {% endif %}
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon fa-2x"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
